<%= form_with(model: calendar, local: true, id: "today_data") do |form| %>
  <% if calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <ul class="feel-field">
      <li>
        <input type="checkbox" name="calendar[feel_type]" class="feel_type" id="feel_type_fine" value="fine" >
        <label for="feel_type_fine" class="feel_type_fine feel_type_label">最高！</label>
      </li>

      <li>
      <input type="checkbox" name="calendar[feel_type]" class="feel_type" id="feel_type_like" value="like">
      <label for="feel_type_like" class="feel_type_like feel_type_label">ハッピー</label>
      </li>

      <li>
      <input type="checkbox" name="calendar[feel_type]" class="feel_type" id="feel_type_soso" value="soso">
      <label for="feel_type_soso" class="feel_type_soso feel_type_label">まぁまぁ</label>
      </li>

      <li>
      <input type="checkbox" name="calendar[feel_type]" class="feel_type" id="feel_type_bad" value="bad">
      <label for="feel_type_bad" class="feel_type_bad feel_type_label">イライラ</label>
      </li>

    </ul>

    <ul id="today_status_check" class="clearfix">
      <li>
        <%= form.check_box :condition_type, id:"seiri_check" %>
        <label for="seiri_check" class="seiri_check_label">生理</label>
      </li>

      <li>
        <input type="checkbox" id="sex_check" value="1">
        <label for="sex_check" class="sex_check_label">SEX</label>
      </li>
    </ul>

    <div id="sex-result" style="display: none">

      <div class="sex_type-field">
        <input type="checkbox" name="calendar[sex_type]" class="sex_type" value="contraception">避妊
        <input type="checkbox" name="calendar[sex_type]" class="sex_type" value="to_go_out">避妊なし(外出)
        <input type="checkbox" name="calendar[sex_type]" class="sex_type" value="to_go_in">避妊なし(中出)
      </div>


    </div>

    <div class="field">
      <%= form.label :condition_type %>
      <%= form.hidden_field :ymd %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
