<%= form_with(model: calendar, local: true, id: "today_data") do |form| %>
  <% if calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <ul class="feel-field clearfix">
      <li>
        <% if @calendar.feel_type == 1 %>

            <input type="checkbox" name="calendar[feel_type]" class="feel_type" id="feel_type_like" value="1" checked="checked">
        <% else %>
            <input type="checkbox" name="calendar[feel_type]" class="feel_type" id="feel_type_like" value="1">
        <% end %>
        <label for="feel_type_like" class="feel_type_like feel_type_label"><i class="fa fa-smile-o" aria-hidden="true"></i>HAPPY</label>
      </li>

      <li>
        <% if @calendar.feel_type == 2 %>
            <input type="checkbox" name="calendar[feel_type]" class="feel_type" id="feel_type_soso" value="2" checked="checked">
        <% else %>
            <input type="checkbox" name="calendar[feel_type]" class="feel_type" id="feel_type_soso" value="2">
        <% end %>
        <label for="feel_type_soso" class="feel_type_soso feel_type_label"><i class="fa fa-meh-o" aria-hidden="true"></i>SOSO</label>
      </li>

      <li>
        <% if @calendar.feel_type == 3 %>
            <input type="checkbox" name="calendar[feel_type]" class="feel_type" id="feel_type_bad" value="3" checked="checked">
        <% else %>
            <input type="checkbox" name="calendar[feel_type]" class="feel_type" id="feel_type_bad" value="3">
        <% end %>
        <label for="feel_type_bad" class="feel_type_bad feel_type_label"><i class="fa fa-frown-o" aria-hidden="true"></i>BAD</label>
      </li>

    </ul>

    <ul id="today_status_check" class="clearfix">
      <li>
        <% if @calendar.condition_type == 1 %>
            <%= form.check_box :condition_type, id:"seiri_check", class:"condition_type", checked:"checked" %>
        <% else %>
            <%= form.check_box :condition_type, id:"seiri_check", class:"condition_type" %>
        <% end %>
        <label for="seiri_check" class="seiri_check_label"><i class="fa fa-tint" aria-hidden="true"></i>生理 ・ 出血</label>
      </li>

      <li>
        <% if @calendar.sex_type == 1 || @calendar.sex_type == 2 || @calendar.sex_type == 3 || @calendar.sex_type == 4 %>
            <%= form.check_box :sex_type, id:"sex_check", class:"sex_type", checked:"checked" %>
        <% else %>
            <%= form.check_box :sex_type, id:"sex_check", class:"sex_type" %>
      <% end %>
        <label for="sex_check" class="sex_type_check sex_check_label"><i class="fa fa-heartbeat" aria-hidden="true"></i>SEX</label>
      </li>
    </ul>

    <% if @calendar.sex_type == 2 || @calendar.sex_type == 3 || @calendar.sex_type == 4 %>
        <div id="sex-result">
    <% else %>
        <div id="sex-result" style="display: none">

    <% end %>

    <ul class="sex-field">
        <li>
          <% if @calendar.sex_type == 2 %>
              <input type="checkbox" name="calendar[sex_type]" class="sex_type" id="sex_type_ari" value="2" checked="checked">
          <% else %>
              <input type="checkbox" name="calendar[sex_type]" class="sex_type" id="sex_type_ari" value="2">
          <% end %>
          <label for="sex_type_ari" class="sex_type_ari sex_type_label">避妊</label>
        </li>

        <li>
          <% if @calendar.sex_type == 3 %>
              <input type="checkbox" name="calendar[sex_type]" class="sex_type" id="sex_type_nasi_soto" value="3" checked="checked">
          <% else %>
              <input type="checkbox" name="calendar[sex_type]" class="sex_type" id="sex_type_nasi_soto" value="3">
          <% end %>
          <label for="sex_type_nasi_soto" class="sex_type_nasi_soto sex_type_label">未避妊外射</label>
        </li>

        <li>
          <% if @calendar.sex_type == 4 %>
              <input type="checkbox" name="calendar[sex_type]" class="sex_type" id="sex_type_nasi_naka" value="4" checked="checked">
          <% else %>
              <input type="checkbox" name="calendar[sex_type]" class="sex_type" id="sex_type_nasi_naka" value="4">
          <% end %>
          <label for="sex_type_nasi_naka" class="sex_type_nasi_naka sex_type_label">未避妊内射</label>
        </li>

      </ul>


    </div>

    <div class="field">
      <%= form.hidden_field :ymd %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
