<p id="notice"><%= notice %></p>

 <nav id="sidebar">
  <ul>
    <li>TOP</li>
  </ul>
</nav>

<div class="today_page">
  妊娠確率〜
  状況STATUS〜
  今日の~
  <%= render 'form', calendar: @calendar %>
</div>
<div class="calendars">
  <h1>生理Calendars</h1>
  <%= link_to '<<', controller: "calendars", action: "index", year: (@set_calendar_ym[:year]) ? "#{@set_calendar_ym[:year]}".to_i - 1 : @now.strftime("%Y").to_i - 1, month: (@set_calendar_ym[:month]) ? "#{@set_calendar_ym[:month]}".to_i : @now.strftime("%m").to_i%>
  <%= link_to '<', controller: "calendars", action: "index", year: (@set_calendar_ym[:year]) ? "#{@show_year}" : @now.strftime("%Y"), month: (@set_calendar_ym[:month]) ? "#{@show_month}".to_i - 1 : @now.strftime("%m").to_i - 1%>
  <%= (@show_year) ? @show_year : @now.strftime("%Y") %>年<%= (@show_month)? @show_month:@now.strftime("%m") %>月
  <%= link_to '>', controller: "calendars", action: "index", year: (@set_calendar_ym[:year]) ? "#{@show_year}" : @now.strftime("%Y"), month: (@set_calendar_ym[:month]) ? "#{@show_month}".to_i + 1 : @now.strftime("%m").to_i + 1%>
  <%= link_to '>>', controller: "calendars", action: "index", year: (@set_calendar_ym[:year]) ? "#{@set_calendar_ym[:year]}".to_i + 1 : @now.strftime("%Y").to_i + 1, month: (@set_calendar_ym[:month]) ? "#{@set_calendar_ym[:month]}".to_i : @now.strftime("%m").to_i%>

  <ul>
  <% @show_date = (@set_calendar_ym.present?) ? "#{@show_year}-0#{@show_month}" : @now.strftime("%Y-%m")%>

  <% for day in 1..@month do %>
      <li>
        <% if @data = Calendar.find_by("DATE(ymd) = '#{@show_date}-#{day}'") %>
            <div><%= day %>日</div>
            <div><%= @data.ymd.strftime("%Y-%m-%d") %></div>
            <div><%= @data.sex_type %></div>
            <div><%= @data.feel_type %></div>
            <div><%= @data.condition_type %></div>

            <div><%= link_to '登録', new_calendar_path(ymd: "#{@show_date}-#{day}") %></div>
        <% else %>
            <div><%= day %>日</div>
            <div><%= link_to '登録', new_calendar_path(ymd: "#{@show_date}-#{day}") %></div>

      <% end %>
      </li>

  <% end %>
</ul>
</div>
