 <nav id="sidebar">
  <ul>
    <li>TOP</li>

    <% if user_signed_in? %>
        <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</nav>

<div class="today_page">
  <div class="today_page_user_status">
    <h3 class="form_today">TODAY</h3>


    <div class="today_page_user_status_block_0">
      <ul>
        <h3>今日の運勢</h3>
        <li class="unsei clearfix">
          <h2>データ入れる</h2>
        </li>
      </ul>
    </div>

    <div class="today_page_user_status_block">
      <ul>
        <h3>次回予定日</h3>
        <% if @my_status.present? && @my_status.next_hairan.present? %>
              <li class="schedule_hairan clearfix">
                <h2>排卵予定日まで <%= @countdown_hairan.to_s.split('/').first %> days - <span class="what_is_day_hairan"><%= @my_status.next_hairan.strftime('%m月%d日') %></span>
                </h2>
              </li>
      <% end %>

      <% if @my_status.present? && @my_status.next_seiri.present? %>
            <li class="schedule_seiri clearfix">
              <h2>生理予定日まで <%= @countdown_seiri.to_s.split('/').first %> days - <span class="what_is_day_seiri"><%= @my_status.next_seiri.strftime('%m月%d日') %></span>
              </h2>
            </li>
      <% end %>
      </ul>
    </div>


    <div class="today_page_user_status_block_2">
      <ul>
        <h3>妊娠している可能性</h3>
        <li class="osirase_ninsin clearfix">
          <h2>データ入れる</h2>
        </li>
      </ul>
    </div>

    <div class="today_page_user_status_block_3">
      <ul>
        <h3>お知らせ</h3>
        <li class="osirase_ninsin clearfix">
          <h2></h2>
        </li>
      </ul>
    </div>


  </div>

   <% unless current_user.gender == 'male' %>
    <h3 class="form_title">今日の気分は？</h3>
    <%= render 'form', calendar: @calendar %>
  <% else %>
  <% end %>
</div>
<div class="calendars">


  <ul>

    <nav id="calendars_date-navigate">
      <ul>
        <li>
          <%= link_to (content_tag(:i,'', class: 'fa fa-angle-left')), controller: "calendars", action: "index", year: (@set_calendar_ym[:year]) ? "#{@show_year}" : @now.strftime("%Y"), month: (@set_calendar_ym[:month]) ? "#{@show_month}".to_i - 1 : @now.strftime("%m").to_i - 1%>
        </li>

        <li>
          <%= link_to '今日', calendars_path %>
        </li>
        <li>
          <%= link_to (content_tag(:i,'', class: 'fa fa-angle-right')), controller: "calendars", action: "index", year: (@set_calendar_ym[:year]) ? "#{@show_year}" : @now.strftime("%Y"), month: (@set_calendar_ym[:month]) ? "#{@show_month}".to_i + 1 : @now.strftime("%m").to_i + 1%>
        </li>

      </ul>
      <div class="calendars-year-month-today"><span><%= (@show_year) ? @show_year : @now.strftime("%Y") %>年<%= (@show_month) ? @show_month:@now.strftime("%m") %>月</span></div>



    </nav>

  <% @show_date = (@set_calendar_ym.present?) ? "#{@show_year}-#{@show_month}" : @now.strftime("%Y-%m")%>
    <li class="week sun">日</li>
    <li class="week mon">月</li>
    <li class="week tue">火</li>
    <li class="week wed">水</li>
    <li class="week thu">木</li>
    <li class="week fri">金</li>
    <li class="week sat">土</li>


  <% for day in 1..@month do %>
        <% if day == 1 %>
            <% week = "#{day}/#{(@show_month) ? @show_month:@now.strftime("%m")}/#{(@show_year) ? @show_year : @now.strftime("%Y")}".to_time%>
            <% w = week.strftime("#{%w(日 月 火 水 木 金 土)[week.wday]}") %>
            <% if w == "月" %>
                <li class="card empty"></li>
            <% elsif w == "火" %>
                <li class="card empty"></li><li class="card empty"></li>
            <% elsif w == "水" %>
                <li class="card empty"></li><li class="card empty"></li><li class="card empty"></li>
            <% elsif w == "木" %>
                <li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li>
            <% elsif w == "金" %>
                <li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li>
            <% elsif w == "土" %>
                <li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li>
            <% end %>
        <% end %>

        <% if current_user.gender == 'male' %>

            <% @girl_friend_data.each do |data|%>
              <% if data.ymd == "#{@show_date}-#{day}" %>
                  <% @girl_friend_database.push(data) %>
              <% end %>
            <% end %>
            <% @data = @girl_friend_database.select{|data| data.ymd == "#{@show_date}-#{day}" }.first %>

        <% else %>

            <% @data = current_user.calendar.find_by("DATE(ymd) = '#{@show_date}-#{day}'")%>
        <% end %>
        <% if @next_hairan_schedule.present? == true && @next_hairan_schedule.include?("#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d")) %>
           <li class="card card_hairan_sub">
        <% elsif @my_status.present? && @my_status.next_hairan.present? == true && @my_status.next_hairan.strftime("%Y-%m-%d") == "#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d") %>
           <li class="card card_hairan_main">
        <% elsif @next_seiri_schedule.present? == true && @next_seiri_schedule.include?("#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d")) %>
           <li class="card card_seiri_sub">
        <% elsif @my_status.present? && @my_status.next_seiri.present? == true && @my_status.next_seiri.strftime("%Y-%m-%d") == "#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d") %>
           <li class="card card_seiri_main">
        <% elsif @data.present? == true && @data.condition_type == 1%>
            <li class="card card_seiri">
        <% else %>
           <li class="card">

  <% end %>
        <% if @data.present? == true %>
            <% unless current_user.gender == 'male' %>
              <%= link_to edit_calendar_path(id: @data.id ) do %>

                <% if @today.strftime("%Y-%m-%d") == "#{@show_date}-#{day}"%>
                    <div class="what_is_today"><span><%= day %>日</span></div>
                <% else%>
                    <div class="what_is_day"><%= day %>日</div>
                <% end%>

                <% if @data.feel_type == 1 %>
                    <div class="card_icon_feel_happy"><i class="fa fa-smile-o aria-hidden="true"></i>HAPPY</div>
                <% elsif @data.feel_type == 2 %>
                    <div class="card_icon_feel_soso"><i class="fa fa-smile-o" aria-hidden="true"></i>SOSO</div>
                <% elsif @data.feel_type == 3 %>
                    <div class="card_icon_feel_bad"><i class="fa fa-smile-o" aria-hidden="true"></i>BAD</div>
                <% end%>

                <% if @data.sex_type == 1 %>
                    <div class="card_icon_sex"><i class="fa fa-heartbeat" aria-hidden="true"></i>SEX</div>
                <% elsif @data.sex_type == 2 %>
                    <div class="card_icon_sex"><i class="fa fa-heartbeat" aria-hidden="true"></i>SEX(避妊)</div>
                <% elsif @data.sex_type == 3 %>
                    <div class="card_icon_sex"><i class="fa fa-heartbeat" aria-hidden="true"></i>SEX(未避妊外射)</div>
                <% elsif @data.sex_type == 4 %>
                    <div class="card_icon_sex"><i class="fa fa-heartbeat" aria-hidden="true"></i>SEX(未避妊中射)</div>
                <% end%>

                <% if @data.condition_type == 1 %>
                    <div class="card_icon_seiri"><i class="fa fa-tint" aria-hidden="true"></i>生理・出血</div>
                <% end%>

                <% if @my_status.next_seiri.present? == true && @my_status.next_seiri.strftime("%Y-%m-%d") == "#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d") %>
                    生理予定日
                <% end %>

                <% if @my_status.next_hairan.present? == true && @my_status.next_hairan.strftime("%Y-%m-%d") == "#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d") %>
                    排卵予定日
                <% end %>
              <% end %>
            <% else %>
                <% if @today.strftime("%Y-%m-%d") == "#{@show_date}-#{day}"%>
                    <div class="what_is_today"><span><%= day %>日</span></div>
                <% else%>
                    <div class="what_is_day"><%= day %>日</div>
                <% end%>

                <% if @data.feel_type == 1 %>
                    <div class="card_icon_feel_happy"><i class="fa fa-smile-o aria-hidden="true"></i>HAPPY</div>
                <% elsif @data.feel_type == 2 %>
                    <div class="card_icon_feel_soso"><i class="fa fa-smile-o" aria-hidden="true"></i>SOSO</div>
                <% elsif @data.feel_type == 3 %>
                    <div class="card_icon_feel_bad"><i class="fa fa-smile-o" aria-hidden="true"></i>BAD</div>
                <% end%>

                <% if @data.sex_type == 1 %>
                    <div class="card_icon_sex"><i class="fa fa-heartbeat" aria-hidden="true"></i>SEX</div>
                <% elsif @data.sex_type == 2 %>
                    <div class="card_icon_sex"><i class="fa fa-heartbeat" aria-hidden="true"></i>SEX(避妊)</div>
                <% elsif @data.sex_type == 3 %>
                    <div class="card_icon_sex"><i class="fa fa-heartbeat" aria-hidden="true"></i>SEX(未避妊外射)</div>
                <% elsif @data.sex_type == 4 %>
                    <div class="card_icon_sex"><i class="fa fa-heartbeat" aria-hidden="true"></i>SEX(未避妊中射)</div>
                <% end%>

                <% if @data.condition_type == 1 %>
                    <div class="card_icon_seiri"><i class="fa fa-tint" aria-hidden="true"></i>生理・出血</div>
                <% end%>

                <% if @my_status.next_seiri.present? == true && @my_status.next_seiri.strftime("%Y-%m-%d") == "#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d") %>
                    生理予定日
                <% end %>

                <% if @my_status.next_hairan.present? == true && @my_status.next_hairan.strftime("%Y-%m-%d") == "#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d") %>
                    排卵予定日
                <% end %>
            <% end %>

        <% else %>

            <% unless current_user.gender == 'male' %>
              <%= link_to new_calendar_path(ymd: "#{@show_date}-#{day}") do %>
                <% if @today.strftime("%Y-%m-%d") == "#{@show_date}-#{day}"%>
                    <div class="what_is_today"><span><%= day %>日</span></div>
                <% else%>
                    <div class="what_is_day"><%= day %>日</div>
                <% end%>
                <% if @my_status.present? && @my_status.next_seiri.present? == true && @my_status.next_seiri.strftime("%Y-%m-%d") == "#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d") %>
                    生理予定日
                <% end %>
                <% if @my_status.present? && @my_status.next_hairan.present? == true && @my_status.next_hairan.strftime("%Y-%m-%d") == "#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d") %>
                    排卵予定日
                <% end %>
              <% end %>
            <% else%>
                <% if @today.strftime("%Y-%m-%d") == "#{@show_date}-#{day}"%>
                    <div class="what_is_today"><span><%= day %>日</span></div>
                <% else%>
                    <div class="what_is_day"><%= day %>日</div>
                <% end%>
                <% if @my_status.present? && @my_status.next_seiri.present? == true && @my_status.next_seiri.strftime("%Y-%m-%d") == "#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d") %>
                    生理予定日
                <% end %>
                <% if @my_status.present? && @my_status.next_hairan.present? == true && @my_status.next_hairan.strftime("%Y-%m-%d") == "#{@show_date}-#{day}".to_time.strftime("%Y-%m-%d") %>
                    排卵予定日
                <% end %>
            <% end %>


  <% end %>
      </li>
        <% if day == @month %>
            <% week = "#{day}/#{(@show_month) ? @show_month:@now.strftime("%m")}/#{(@show_year) ? @show_year : @now.strftime("%Y")}".to_time%>
            <% w = week.strftime("#{%w(日 月 火 水 木 金 土)[week.wday]}") %>
            <% if w == "日" %>
                <li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li>
            <% elsif w == "月" %>
                <li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li>
            <% elsif w == "火" %>
                <li class="card empty"></li><li class="card empty"></li><li class="card empty"></li><li class="card empty"></li>
            <% elsif w == "水" %>
                <li class="card empty"></li><li class="card empty"></li><li class="card empty"></li>
            <% elsif w == "木" %>
                <li class="card empty"></li><li class="card empty"></li>
            <% elsif w == "金" %>
                <li class="card"></li>
            <% end %>
        <% end %>

  <% end %>
</ul>


</div>



